
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The SyllySyncer
    link(rel='stylesheet', href='style.css')
  body
    script. 
      let students = !{JSON.stringify(students)};
    .container
      .top-banner
        .left-section
          span The SyllySyncer 
        .right-section
          a(href='/options') Home     
          a(href='/') Login
    h2 Welcome #{username}!
    .dropdown-container
      .row
          .dropdown
            label(for='dropdown1') Class:
            select(id='dropdown1' onchange='updateClass(this.value, students)')
              option(value='' disabled selected hidden) Select
              each student in students
                if student.prof == username
                  option(value= student.class)= student.class
          .dropdown
            label(for='dropdown2') Section:
            select(id='dropdown2' onchange='updateSection(this.value)')
              option(value='' disabled selected hidden) Select
          .dropdown
            label(for='dropdown3') Group Size:
            select(id='dropdown3' onchange='updateSize(this.value)')
              option(value='' disabled selected hidden) Select
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
    .button-container
      form(action='/results', method='post') 
          input(type='hidden', name='selectedClass', id='selectedClass') 
          input(type='hidden', name='selectedSection', id='selectedSection') 
          button.button(type='submit') Generate

  script. 
    function updateClass(dropdownSelection, students) {
      console.log("Dropdown Selection:", dropdownSelection);
      selectedClass = dropdownSelection;
      console.log("Selected Class:", selectedClass);

      const dropdown2 = document.getElementById('dropdown2');
      dropdown2.innerHTML = '';
  
      const selectedStudent = students.find(student => student.class === selectedClass);
      console.log("Selected Student:", selectedStudent);
  
      if (selectedStudent && selectedStudent.section) { 
        console.log("Sections:", selectedStudent.section);
        selectedStudent.section.forEach(section => {
          console.log("Adding section:", section);
          const option = document.createElement('option');
          option.value = section;
          option.textContent = section;
          dropdown2.appendChild(option);
        });
      }
      document.getElementById('selectedClass').value = selectedClass;
    }

    function updateSection(dropdownSelection) {
      console.log("Dropdown Selection:", dropdownSelection);
      selectedSection = dropdownSelection;
      console.log("Selected Section:", selectedSection);
      document.getElementById('selectedSection').value = selectedSection; // Set value for hidden input

    }

    function updateSize(dropdownSelection) {
      console.log("Dropdown Selection:", dropdownSelection);
      groupSize = dropdownSelection;
      console.log("Selected Section:", groupSize);
    }