doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The SyllySyncer
    link(rel='stylesheet', href='style.css')
  body
    .container
      .top-banner
        .left-section
          span The SyllySyncer
        .right-section
          a(href='/options') Home     
          a(href='/') Login
    .content-container
      .scrollable-box
            | Group 1
            br
            | Sam Soto 
            br
            | Chris Kohlbeck 
            br 
            br 
            | Group 2
            br
            | Sam Soto 
            br
            | Chris Kohlbeck 
            br 
            br 
            | Group 3
            br
            | Sam Soto 
            br
            | Chris Kohlbeck 
            br 
            br 
            | Group 4
            br
            | Sam Soto 
            br
            | Chris Kohlbeck 
            br 
            br 
            | Group 5
            br
            | Sam Soto 
            br
            | Chris Kohlbeck 
            br 
            br 
    .result-button-container 
        a.button-left(href='/options') Home
        a.button-right(href='#') Export