html
  heads
    title Sign Up Page
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    form.formLogin(action="/signup" method="post")
      label.labelLogin(for="username") Username:
      input.inputLogin(type="text" id="username" name="username" required)
      
      label.labelLogin(for="password") Password:
      input.inputLogin(type="password" id="password" name="password" required)

      button.buttonLogin(type="submit", href="/login") Sign Up