html
  head
    title My Website
    link(rel="stylesheet" type="text/css" href="/style.css")
  body.View
    .Banner
      h1 My Website
      p Welcome to our amazing website.

    .NavButtons
      a.NavButton(href="/login") Login