body {
  font-family: Arial, sans-serif;
  background-color: #9AD9FD;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-family: 'Comic Sans MS', cursive;
  color: #FD6D2F;
  text-align: center;
  padding-top: 20px;
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-family: 'Comic Sans MS', cursive;
  color: #FD6D2F;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.login-info-container {
  background-color: #FFD580;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  height: 300px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.input-group {
  margin-bottom: 20px;
  width: 100%; 
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #FD6D2F;
  font-size: 25px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #FFD580;
  font-family: Arial, sans-serif;
}

button[type="submit"] {
  background-color: #FD6D2F;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto;
  font-size: 25px;
}

.button-container {
  text-align: center;
}

.form-actions {
  width: 100%;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #FFFFFF;
  color: #FD6D2F;
}





/* Header */

.top-banner {
  background-color: #FFD580; /* Change the background color as needed */
  color: #FD6D2F; /* Change the text color as needed */
  font-family: 'Comic Sans MS', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-section {
  flex: 1;
  font-size: 80px;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 30px;
}

.right-section {
  flex: 1;
  text-align: right;
  font-size: 40px;
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
}

.right-section a {
  color: #fff; /* Change the link color as needed */
  text-decoration: none;
  margin-left: 10px;
}

.right-section a:last-child {
  margin-left: 30px; /* Adjust spacing between "home" and "login" */
}

.right-section a:hover {
  text-decoration: underline;
}



/* Drop down menus */

.dropdown-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 35px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

select {
  padding: 5px;
  font-size: 30px;
  width: 800px; 
  color:#FD6D2F;
  font-family: 'Roboto', sans-serif;
}



.button-container {
  text-align: center;
  margin-top: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FD6D2F; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
}

.button:hover {
  background-color: #FFD580; /* Darker green on hover */
}




/* Scrollable results box */


.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.scrollable-box {
  width: 50%; /* Adjusted width for better fit */
  max-height: 80%; /* Adjusted max height for better spacing */
  overflow-y: auto;
  background: linear-gradient(to bottom right, #ffffff, #ffffff); /* Gradient background */
  border-radius: 10px;
  padding: 20px; /* Increased padding for better spacing */
  font-family: 'Roboto', sans-serif; /* Changed font */
  color: #333; /* Text color */
  text-align: center;
  line-height: 1.6; /* Slightly increased line height for better readability */
  margin-top: 30px; /* Adjusted margin top */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
}

.scrollable-box::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.scrollable-box::-webkit-scrollbar-thumb {
  background-color: #FF6347; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

.scrollable-box::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color of the scrollbar track */
}

.scrollable-box p {
  margin-bottom: 10px; /* Adjusted margin for better spacing between paragraphs */
}

.scrollable-box a {
  color: #4682B4; /* Link color */
  text-decoration: underline; /* Underline for links */
}


.result-button-container {
  display: flex;
  justify-content: space-around; /* Adjusted spacing between buttons */
  margin-top: 80px; /* Adjust margin top as needed */
}

.button-left,
.button-right {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  background-color: #FD6D2F; /* Green */
  color: white;
  text-decoration: none;
  font-size: 30px;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
}

.button-left:hover,
.button-right:hover {
  background-color: #FFD580;
}